/* generals */



    body {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    /* Sections */
    section {
      background-color: #fff;
    }
    section > .row {
      margin-bottom: 0px !important;
    }

    section a :not(#welcome) :not(#contact) :not(.chip) {
      color: rgb(0, 0, 255, 1) !important;
      -webkit-transition: color .2s ease;
      -o-transition: color .2s ease;
      transition: color .2s ease;
      transition-property: color;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      transition-delay: 0s;
    }
    section a:hover :not(#welcome) :not(.chip) {
      color: rgb(102, 102, 255) !important;
    }

    h5 {
      font-size: 2em;
      margin: 1em 0em 1em 0em;
    }
    p {
      font-size: 1.5rem;
    }

    /* cards */

    .card, .card-reveal {
      border-radius: 25px !important;
    }
    .card p {
      font-size: 1.2rem;
    }
    .card .embarcaIcon {
      margin: 1rem 1rem 1rem 1rem;
      font-size: 2.5rem;
    }

    /* chips */
    .chip {
      background-color: rgba(0, 0, 255, 0.3);
      color: #00f;
      -webkit-transition: background-color .2s ease;
      -o-transition: background-color .2s ease;
      transition: background-color .2s ease;
      transition-property: background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      transition-delay: 0s;
    }

    .chip:hover {
      background-color: rgba(0, 0, 255, 0.6);
    }

    /* Modals */
    .modal {
      border-radius: 25px;
    }
    .modal {

    }

    /* content */

    .content {
      min-width: 100vw;
      min-height: 100vh;
      width: 100% !important;
      height: 100% !important;
    }

    /* Icons */

    .embarcaIcon {
      margin: 1rem 1rem 1rem 1rem;
      font-size: 2em;
    }

    li span {
      display: block;
      font-size: 1.2rem;
      text-align: center;
    }

    .verticalCenter {
      position: relative;
      top: 20vh;
    }

    /* Buttons */

    .btn, .btn-large, .btn-small, .btn-flat {
      border-radius: 25px !important;
    }

/* welcome */

    /* Background Video and color */
    #welcome {
      background-color: rgba(48, 79, 254, 0.95);
    }
    #bgvid {
      position: fixed;
      z-index: -100;
      top: auto;
      left: 50%;
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      min-width: 100vw;
      min-height: 100vh;
    }

    /* navbar */

    #welcome nav {
      background-color: rgba(255, 255, 255, 0) !important;
      box-shadow: none !important;
      padding: 0em 1rem 0rem 1rem;
    }

    #welcome .mainLogo {
      filter: grayscale(100%) invert(100%) brightness(10);
      height: 5em;
    }

    #welcome nav .mainLogo {
      filter: grayscale(100%) invert(100%) brightness(10);
      height: 1em;
    }

    #welcome .navbarLogo {
      filter: grayscale(100%) invert(100%) brightness(10);
      margin-top: 0.8rem;
      height: 2rem;
    }

    #welcome .navbarLogoLi {
      background-color: #304ffe;
    }

     /* for navbarScroll */

    #welcome .nav-up {
      transform: translateY(-150%) !important;
      }

    #welcome .sidenav-trigger {
      background-color: #304ffe;
      border-radius: 100%;
      position: fixed !important;
      height: 56px !important;
      z-index: 997 !important;
      margin: 20px !important;
    }

/* Process */

  #process {
    background-image: -webkit-linear-gradient(left, #eca9f7 10%, #b6c1ff);
  	background-image: -o-linear-gradient(left, #D500F9 10%, #304FFE);
  	/*background-image: linear-gradient(to right, #D500F9 10%, #304FFE);*/
  }

  #process .row {
    margin-bottom: 5em;
  }

  #process .btn, #process .btn-large, #process .btn-flat {
    background-color: rgba(0, 0, 0, 0.4);
  }

  #process .timeline {
    position: relative;
  }

  #process .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #process .timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
  }

  #process .timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    left: calc(50% - 1px);
    top: 0;
  }

  #process .timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    left: calc(50% - 1px);
    top: calc(50% + 30px);
  }

  #process .timeline .timeline-event:first-child::before {
    display: none;
  }

  #process .timeline .timeline-event:last-child::after {
    display: none;
  }

  #process .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
  }

  #process .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
  }

  #process .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    cursor: default;
  }

  #process .timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
  }

  @media (max-width: 600px) {
    #process .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }
    #process .timeline .timeline-event::before {
      left: 19px;
    }
    #process .timeline .timeline-event::after {
      left: 19px;
    }
    #process .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: 70px;
    }
    #process .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
    }
    #process .timeline .timeline-badge {
      left: 0;
    }
  }
   #process ul li {
     width: 100%;
     color: #000;
     background-color: #fff;
     border-radius: 25px;
   }
   #process .collapsible {
     border-radius: 25px;
   }

   #process ul li .card-title {
     margin-top: 0.2em;
   }

   #process ul li .collapsible-header {
     -webkit-transition: color .3s ease;
     -o-transition: color .3s ease;
     transition: color .3s ease;
     transition-property: color;
     transition-duration: 0.3s;
     transition-timing-function: ease;
     transition-delay: 0s;
   }

   #process ul li .collapsible-header:hover {
     color: grey;
   }

   #process .textAlignCenter {
     position: absolute;
     padding: 10px 0px 0px 7px !important;
   }

   #process .collapsible-header, .collapsible-body {
     border-bottom: none !important;
     border-radius: 25px;
   }

    #process .embarcaIcon {
      margin: 1rem 1rem 0rem 1rem;
      font-size: 2em;
    }

    #process li span {
      font-size: 2em;
      text-align: center;
    }


/* Team */

    #team .card .card-image img {
      display: block;
      border-radius: 50%;
      position: relative;
      left: 5%;
      right: 0;
      bottom: -5%;
      width: 90%;
      margin-top: 5%;
    }
    #team p {
      text-align: left !important;
    }

    #team .options {
      position: absolute !important;
      right: 1em !important;
      top: 1em !important;
    }

/* Startup */

    #startups {
      background-color: #e8eaf6;
    }

    #startups ul li, #investors ul li {
      margin-top: 5em;
    }


/*Contact*/

    #contact {
      background-color: #e8eaf6;
    }
    #contact .card-content {
      padding: 24px 24px 4px 24px;
    }
    #contact .card-content .row {
      margin-bottom: 10px;
    }
    #contact .socialIcon {
      font-size: 3rem;
      margin-left: 3rem;
      color: #303f9f !important;
    }

/* Media */

    #media {
      background-color: #e8eaf6;
    }
    #media p {
      font-size: 1rem;
      color: #616161 !important;
    }
    #media .col {
      margin-bottom: 30px;
    }

    #media .mediaLogo {
      width: 50%;
      filter: grayscale(100%);
    }

/* FAQ */

    #faq .collapsible-header {
      color: #424242;
      font-weight:900;
    }
    #faq .collapsible-body span {
      text-align: left;
    }

/* Footer */

    footer .mainLogo {
      filter: grayscale(100%) invert(100%) brightness(10);
      height: 2.5em;
      position: relative;
      margin-bottom: 1em;
      bottom: -0.5em;
    }

    footer li {
      display: inline-block;
      margin-left: 1em;
    }

    .page-footer {
      background-color: #304ffe;
    }

    footer a {
      color: rgba(255, 255, 255, 0.8);
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      transition-property: color;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s;
    }

    footer .footer-copyright {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }

    footer a:hover {
      color: #fff;
    }

    footer {
      z-index: -5;
    }

    footer .embarcaIcon {
      margin: 0 0 0 0 !important;
      font-size: 2.5rem !important;
    }
